<VirtualHost {{ avideo_listen_ip }}:{{ avideo_listen_port }}>
    ServerName {{ avideo_servername }}
    ServerAdmin {{ avideo_contact_email }}
    DocumentRoot {{ avideo_main_path }}

    ErrorLog ${APACHE_LOG_DIR}/{{ avideo_servername }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ avideo_servername }}.access.log combined

    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost {{ avideo_listen_ip }}:{{ avideo_listen_port_ssl }}>
    ServerName {{ avideo_servername }}
    ServerAdmin {{ avideo_contact_email }}
    DocumentRoot {{ avideo_main_path }}

    ErrorLog ${APACHE_LOG_DIR}/{{ avideo_servername }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ avideo_servername }}.access.log combined

    SSLEngine on
    SSLCertificateFile {{ avideo_tls_certificate }}
    SSLCertificateKeyFile {{ avideo_tls_cert_key }}
</VirtualHost>

<Directory {{ avideo_main_path }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
    Order Allow,Deny
    Allow from All
</Directory>
